<script language="JavaScript">
		
if (location.search =='?settings=true') {
    window.location ='/app/Settings';
}

</script>

<div class="toolbar">
	<h1 id="pageTitle">
		Googlereader
	</h1>
</div>

<ul id="home" selected="true" title="Googlereader">
	<li><a href="Item">Items</a></li>
</ul>
