<div class="toolbar">
	<h1 id="pageTitle">
		Google Reader | Item
	</h1>
</div>

<div class="panel" selected="true">

<table class="grid">
  <tr><td>
    <h3><%= @item.title %></h3>
    <%= @item.body %>
  </td></tr>
</table>
</div>